h1, h2, h3 {
  color: white;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

h1 { font-size: 25pt; line-height: 2cm; }
h2 { font-size: 15pt; }
h3 { font-size: 12pt; }

body 
{ 
background-image:url('imagenes/estadio.jpg'); 
background-repeat:repeat; 
background-position:center; 
background-attachment: fixed 
}	

.izquierda {
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-left: 100px;
  display: inline;
}

.derecha {
  margin-top: 10px;
  margin-right: 100px;
  margin-bottom: 10px;
  margin-left: 50px;
  display: inline;
}

.escudos {
	display: inline;
}

.mi_tabla { 
  background-image: url('imagenes/green.jpg');
 } 

 .mi_tabla2 { 
  background-image: url('imagenes/cubos.jpg');
 } 